"""Example test file."""


def test_example():
    """Example test that always passes."""
    assert True


def test_import():
    """Test that the package can be imported."""
    import {{ package_name }}  # noqa: F401
